:root{
    --primary: #ffe600;
    --primary2: #fc0d0d;
    --primary-hover: #4f46e5;
    --bg-main: #fff;
    --bg-alt: #f3f4f6;
    --surface: #fff;
    --text-main: #111827;
    --text-muted: #6b7280;
    --border: #e5e7eb;
    --shadow: 0 4px 6px -1px rgba(0,0,0,0.2);
    --raius: 8px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Playfair', sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
    line-height: 1.6;
    transition: background-color 0.5s, color 0.5s;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}
ul{
    list-style: none;
}

.header{
    background-color: var(--bg-main);
    border-bottom: 1px solid var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 70px;
    z-index: 1000;
}

main{
    padding-top: 70px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo{
    display: flex;
    flex-direction: center;
    gap: 8px;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--primary);
}
.nav-list{
    display: flex;
    gap: 30px;
}
.nav-link{
    font-weight: 500;
    transition: color 0.5s;
}
.nav-link:hover{
    color: var(--primary2);
}
.header-actions{
    display: flex;
    align-items: center;
    gap: 15px;
}
.icon-btn{
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--text-main);
    cursor: pointer;
    display: flex;
    transition: color o.5s;
}
.icon-btn:hover{
    color: var(--primary2);
}
#menu-btn{
    display: none;
}
.btn{
    display: inline-block;
    padding: 12px 24px;
    font-weight: 600;
    border-radius: var(--raius);
    text-align: center;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease;
}
.btn-primary{
    background-color: var(--primary);
    color: #fff;
}
.btn-primary:hover{
    background-color: var(--primary-hover);
    transform: translateY(-2px);
}
@media(max-width: 1000px){
    #menu-btn {display: flex;}
    .d-none-mobile{
        display: none;
    }
    .nav{
        position: fixed;
        top: 70px;
        right: -100%;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: var(--bg-main);
        transition: right 0.4s ease;
        padding-top: 40px;
        border-top: 1px solid var(--border);
    }
    .nav-list{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .nav.active{
        right: 0;
    }
}